<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">


	<!-- Define your beans here -->
	<bean id="myLoggerConfig" class="io.vnc.ioc.MyLoggerConfig"
		init-method="initLogger">
		<property name="rootLoggerLevel" value="FINE" />
		<property name="printedLoggerLevel" value="FINE" />
	</bean>
	<!-- define the dependency -->
	<bean id="myFortune" class="io.vnc.ioc.HappyFortuneService">
	</bean>

	<bean id="trackCoach" class="io.vnc.ioc.TrackCoach">
		<constructor-arg ref="myFortune">
		</constructor-arg>
	</bean>

	<bean id="cricketCoach" class="io.vnc.ioc.CricketCoach">
		<property name="fortuneService" ref="myFortune"></property>
	</bean>

	<bean id="baseballCoach" class="io.vnc.ioc.BaseballCoach">
		<constructor-arg ref="myFortune">
		</constructor-arg>
	</bean>

</beans>





